@font-face {
  font-family: Inter;
  src: url(Inter-Regular.woff2);
}
body {
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

#mod-slug {
  max-width: 600px;
}

#mod-list-el {
  float: left;
}
#mod-list {
  min-width: 300px;
  width: min-content;
}
.mod-item > button {
  float: right;
}
.rm-btn {
  z-index: 2;
  position: relative;
}

#settings {
  float: left;
  margin-left: 20px;
  min-width: 300px;
}

.warning {
  font-size: 12px;
  color: red;
}